<%= form_for @admin_page, :html =>{:class => "form-horizontal"} do |f| %>

  <% if @admin_page.errors.any? %>
    <div class="panel panel-danger" id="error_explanation">
      <div class="panel-heading">
         <h3 class="panel-title"><%= pluralize(@admin_page.errors.count, "error") %> prohibited this admin_page from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @admin_page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <fieldset>
    <legend>Pages</legend>
    <%= f.hidden_field :admin_clinic_id, :value => Admin::Clinic.first.id %>
   
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <label class = "form-control"><%= @admin_page.name %></label>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Enable</label>
      <div class="col-lg-10">
        <%= f.check_box :status, :class => "form-control"%>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= link_to "Cancel", admin_pages_path, :class => "btn btn-default" %>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </fieldset>
<% end %>

