<%= form_for @admin_service, :html =>{:class => "form-horizontal", :multipart => true} do |f| %>

  <% if @admin_service.errors.any? %>
    <div class="panel panel-danger" id="error_explanation">
      <div class="panel-heading">
         <h3 class="panel-title"><%= pluralize(@admin_service.errors.count, "error") %> prohibited this admin_service from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @admin_service.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <fieldset>
    <legend>Service Information</legend>
    <%= f.hidden_field :admin_clinic_id, :value => Admin::Clinic.first.id %>
    
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <%= f.text_field :name, :class => "form-control", :placeholder => "Name"%>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <%= f.text_area :description, :class => "form-control", :placeholder => "Description"%>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Service Image</label>
      <div class="col-lg-10">
        <%= f.file_field :servimage, :class => "form-control", :placeholder => "logo"%>
      </div>
    </div>

    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= link_to "Cancel", admin_services_path, :class => "btn btn-default" %>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </fieldset>
<% end %>
