<style>
.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}
</style>
<!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="col-lg-10">
                    <h2 class="page-header">About Us</h2>
                    <p>Pradhan Dental Centre is the only certified dental clinic in India that carries all three certifications. All the above certifications ensure quality dentistry, comfort and a pain free dental experience.</p>
                    <p>Our spacious clinic located in Juhu Mumbai, right in the heart of Bollywood caters to a large spectrum of well heeled individuals, from corporate honchos to movie stars, expatriates to locals and also to medical / dental tourists. All our patients have one thing in common they come seeking us because we have a high level of commitment, empathy and expertise to offer. Above all a pain free dental experience!</p>
                    <p>Our corporate social responsibility has allowed us to contribute to society at large. We have worked with NGOs like Mobile Creshes, Aseema, and currently we work with Chip. For more information on Chip visit:  Chipmumbai. Dentistry with a human heart is what makes us tick!</p>
                    <p>We also train dentists in the tribal areas of the northeast for the government of Nagaland, and help them upgrade and modernize their services.</p>
                    <p>Our ever efficient and warm team, of doctors and staff work hard to make your experience an enjoyable one. Come and enjoy our friendly staff, soothing inside outside ambience and above all the compassion, expertise and advanced dental  facilities of Pradhan Dental Centre.</p>
                    <h2 class="page-header">Our Team</h2>
                    <% @team_members.each do |team| %>
	                   <div class="row row-margin-bottom">
                            <div class="col-md-10 no-padding lib-item" data-category="view">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-4">
                                            <img class="lib-img-show" src="<%= team.profile_pic.url(:thumb) %>">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="lib-row lib-header">
                                                <%= team.name %>-<i><%= team.education %></i>
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                            <div class="lib-row lib-desc">
                                                <%= team.about_you %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    
                </div>
            </div>
            <div class="col-sm-2">
               <%= render "public/staticpages/right_sidebar" %>
            </div>

            
        </div>
        <!-- /.row -->
        <hr>
</div>

<div class="container">
    <div class="row">
        <h4>So I've worked on a new project and came up with this UI. Here you can use it. :) Follow me on twitter: <a href="https://twitter.com/AlexMahrt/">@AlexMahrt</a></h4>
    </div>
    <hr>
            
            
</div>