<!DOCTYPE html>
<html>
<head>
  <title>ClinicApp</title>
  <% @current_url = request.url() %>
  <% if @current_url.include? "admin" %>
  	<%= stylesheet_link_tag  "admin/bootstrap.min.css", "admin/bootstrap.css" %>
  <% else %>
  	<%= stylesheet_link_tag  "public/bootstrap.min.css", "public/bootstrap.css", "public/font-awesome.min.css" %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="home">
<% if @current_url.include? "admin" %>
	<% if current_admin %>
		<%= render "layouts/admin_header" %>
	<% end %>
	<%= render "layouts/admin_layout" %>
<% else %>
	<%= render "layouts/public_layout" %>
<% end %>

</body>
</html>
<script>
    $('.carousel').carousel({
        interval: 3000
    })
</script>